<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Are You Not Entertained?</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>

    <h1>Are You Not Entertained?</h1>
    <p>Search for movies and save them to your lists.</p>
  </body>
</html>