Body {
  margin: 0;
  .rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}
  
body {
  font-size: 1.5rem;
  text-align: center;
  background-image: url('../public/images/Landing.jpg');
  background-size: cover;
  background-position: center;
}
}




