@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

html, body {
  height: 100%;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f0ecec;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #faf7f7;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

body {
  font-family: 'Rye', cursive;
  background-image: url(../src/public/images/Landing.jpg);
  background-size: cover;
  height: 100vh;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.575);
  border-radius: 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 300px;
  margin: 0 auto;
  padding: 5px 20px;
  align-items: center;
  position: relative;
  top : 50px
}

#navLinks1 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#navLinks2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;

}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3em;
    color: #020100;
    size: 1em;
    margin: 0;
    font-weight: bold;
    -webkit-text-stroke: 0.3px rgb(0, 0, 0);
  }
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(45deg, rgba(247, 246, 246, 0.411), rgba(253, 127, 113, 0.486));
  padding: 20px;
  border-radius: 125px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 75px;

  #fill-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
} 
}